/*Kleuren van de website*/
/*#A2388D = paars
#FFDF5D = geel
#ffffff = wit

#C7C6C6 =lichtgrijs
#F2F1F3 = lichter,lichter-grijs
#808080 = donkergrijs

/*Deze kleur voor tekst*/
/*#2b3940 = zwart/groenig

/*Deze kleur voor de borders*/
/*#A6C4C4 = blauw/groenige kleur
*/



/*REMINDER VOOR MEZELF:
margin = buitenkant van de content.
padding = ruimte om de content heen.*/


@font-face {
    src: url("../fonts/MuseoSans_500.otf");
    font-family: "MuseoSans Regular";
}

* {

    font-family: museo-sans, sans-serif;
}

body {
    padding: 0;
    margin: 0;
}

/*=========================================================================*/
/*                             HEADER-STYLING:                             */
/*=========================================================================*/
li {
    display: inline-block;
}


header {

    background-color: white;
    height: 3em;
    margin-bottom: 20px;
    border-bottom: 2px solid #A6C4C4;
}

/*Afbeeldingen in de header*/
header a img {
    width: 2em;
    cursor: pointer;
    border: 1px solid #A2388D;
    padding: 0.3em;
    border-radius: 6px;
}




ul.navigatie {
    display: flex;
    justify-content: space-around;
    position: relative;

}


/*=========================================================================*/
/*                         INTRODUCTIE-STYLING:                            */
/*                   99 VERHALEN OM TE LEZEN VOOR OP REIS                  */
/*=========================================================================*/


section#introductie {
    display: flex;
    background-color: #A2388D;
    /*
    background: url(../img/wowaircabin.jpg);
    background: linear-gradient(blue, pink);
*/
    /*achtergrond ideen*/

    background: linear-gradient(to bottom, transparent, #A2388D),
        url(../img/purplecabinewow.jpg);
    color: white;
    display: flex;
    justify-content: space-around;
    padding: 80px;
    margin: 1em;


}

footer ul {
    list-style-type: none;
}


/*=========================================================================*/
/*                     STYLING VAN HET SORTEER FORM:                      */
/*=========================================================================*/

/*
fieldset {
    border: none;
    margin-bottom: 1em;
    background-color: #A2388D;
}
*/

/* styling van het formulier */
/* form {
    position: static;
    background-color: #A2388D;
    margin: 1em;
    position: relative;
}

styling van de "sorteer" tekst
legend {
    font-size: 16px;
    color: #ffffff;
    padding-top: 1em;
}

icoon van sorteer
legend img {
    width: 30px;
    height: 30px;
    margin-right: 0.4em;
}

select {
    display: inline-block;
    border: none;
    margin-left: 1em;
    border: 1px solid #EEEEEE;
    background-color: white;
    color: #2b3940;
    font-size: 1em;
}

form button {
    font-size: 1em;
    width: 3em;
    border: none;
    background: #F2F1F3;
    margin-left: 1em;
    margin-bottom: 1em;

}

 */


fieldset {
    border: none;
    background-color: #A2388D;
}

form {
    background-color: #FAFAFA;
    border: 3px solid #EEEEEE;
    margin: 1em;
}

/*styling van de "sorteer" tekst*/
legend {
    font-size: 1.6em;
    text-decoration: uppercase;
    color: white;
    padding-top: 2em;

}


legend img {
    width: 30px;
    height: 30px;
    margin-right: 0.4em;
}

select {
    margin: 0.5rem 6%;
    width: 88%;
    height: 3em;
    border: 0.2rem solid #EEEEEE;
    background-color: white;
    color: #445757;
    font-size: 1.2rem;
    font-weight: 500;
    border-radius: 0.3rem;
    padding-left: 1rem;
}

.go {
    text-decoration: none;
    font-size: 1.7rem;
    font-size: bold;
    background-color: #808080;
    color: white;
    border-radius: 0.3rem;
    margin-left: 1em;
    padding: 0.6rem 0.9rem;
}


/*=========================================================================*/
/*                     SECTION - POPULAIRE VERHALEN                        */
/*=========================================================================*/


/*Titel: Populaire verhalen*/
h2 {
    margin-left: 1em;
    font-family: museo-sans, sans-serif;
    color: #808080;

}



/*Het content-blokje / article*/
article {
    display: inline-block;
    font-family: museo-sans, sans-serif;
    background: white;
    border: 1px solid #A6C4C4;
    background-color: #fff;
    padding-bottom: 1em;
    margin: 1em 1em 0em 0em;
    margin-left: 1em;


}

/*Afbeelding van het article*/
article img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*Titel van het verhaal*/
h3 {
    margin-left: 1em;
}

/*tekst van het verhaal*/
article p {
    margin: 1em;
    color: #2b3940;
}

/*rating van het verhaal (sterretjes)*/
article li {
    display: inline-block;
    color: rgba(239, 192, 48, 1);
}

/* positie v/d sterretjes*/
article footer ul {
    position: static;
    padding-left: 1em;
}

/*Likw & Download button styling*/
article footer button {
    margin-left: 1em;
    border: 1px solid purple;
    font-size: 16px;
    color: purple;
}


article footer button:hover {
    background-color: purple;
    color: white;
}

.btn-meer-verhalen {
    display: flex;
    border: 1px solid white;
    background-color: purple;

    font-size: 16px;
    color: white;
    padding: 1em;
    margin-top: 1em;
}

.btn-meer-verhalen:hover {
    background-color: #FFDF5D;
    color: black;
