/*Kleuren van de website*/
/*#A2388D = paars
#FFDF5D = geel
#ffffff = wit

#C7C6C6 =lichtgrijs
#F2F1F3 = lichter,lichter-grijs
#808080 = donkergrijs

#2b3940 = zwart/groenig
*/


* {
    font-family: museo-sans, sans-serif;
}

body {
    padding: 0;
    margin: 0;
}

header {
    background-color: white;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 5.4em;
    margin-bottom: 20px;
    margin: 0.2em;
}

li {
    padding: 0;
    margin: 0;
    text-decoration: none;

}

ul {
    list-style-type: none;




}

header a img {
    width: 3rem;
    cursor: pointer;
}


hr {
    border: 0.02em solid #A6C4C4;
    width: 96%;
    margin-top: 1.3em;
}


.begin {
    display: block;
    background-color: #A2388D;

    color: white;
    display: flex;
    justify-content: space-around;
    padding: 80px;
    margin: 0.9em;
    /*
    height: 200px;
    padding: 0em 3em 0em 3em;
*/
}

form {
    border: 1em;
    background-color: #FAFAFA;
    margin: 0.9em;

}

legend {
    display: inline-block;
    font-size: 1.6em;
    font-weight: 500;
    color: #ffffff;
    padding: 0.4em;
    background-color: #99258E;
}

legend img {
    width: 0.9em;
    margin-left: 0.1em;
    margin-right: 0.4em;
}

form button {
    display: inline-block;
    margin-left: 1.2em;
    height: 3em;
    width: 4.5em;
    border: none;
    background: #F2F1F3;
}


select {
    display: inline-block;
    border: none;
    margin: 0.3rem 0rem 0.3rem 0rem;
    height: 2em;
    border: 0.1rem solid #EEEEEE;
    background-color: white;
    color: #2b3940;
    font-size: 1rem;
    font-weight: 400;
    border-radius: 300em;
    padding-left: 3rem;
    max-width: 50rem;
}



article {
    margin: 0.9em;
    display: inline-block;
    background: #F2F1F3;
}





/*
.eye {
    display: inline-block;
    max-width: 2em;
    max-height: 2em;
    margin-right: 0.6em;
}
*/

.favorieten {
    /*hartje waar je op moet klikken voor favoriten*/

    display: inline-block;
    border: none;
    position: absolute;
    background-color: transparent;
    color: purple;
    font-size: 30px;
    margin-left: 8.1em;
    margin-top: 0.1em;
}

/*
.favorieten:hover {
    color: red;

}
*/

.thumbnail {
    display: flex;

}


article footer li {
    display: inline-block;
    width: 1.3em;
}

footer button {
    display: inline-block;
    padding: 0em 2em 0em 2em;
    border: none;
    background-color: #F2F1F3;
    color: black;
    width: 7em;
}

footer button a:hover{
    color: green;

}
