/*Kleuren van de website*/
/*#A2388D = paars
#FFDF5D = geel
#ffffff = wit
#C7C6C6 =lichtgrijs
#808080 = donkergrijs
#2b3940 = zwart/groenig
*/

body {
    max-width: 100%;
}


header {
    background-color: white;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
/*    border-bottom: 1px solid #808080;*/
    height: 100px;
    margin-bottom: 20px;
    margin: 20px;
    box-shadow: inset  0 -0.1em 0 #e6e6e6;


}
header a img {
    width: 60px;
    cursor: pointer
}

ul {
    list-style-type: none;
}

section {
    background-image: url(/img/book-open.png);
    color: black;
    display: flex;
    justify-content: space-around;
    height: 280px;
    margin: 5px 0px 25px 0px;}

#sort-form {
    display: none;
    }

#sort-form.clicked {
    display: block;
}

/* vormgeving van de knop */
#sort-button {
    background-color: #C7C6C6;
    color: #ffffff;
    cursor: pointer;
    padding: 0.8em;
    width: 100%;
    border-radius: 20px;
    text-align: center;
    outline: none;
    font-size: 1.15em;
    text-transform: uppercase;
    font-weight: 900;
}


/* wanneer er op de sorteer button wordt geklikt */
.active,
#sort-button:hover {
    background-color: #A2388D;
}




